<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">Recherche par nom ou ville:</div>
      <div class="col-md-4">
        <input type="text" [(ngModel)]="searchSpot" />
      </div>
    </div>
    <div class="table-responsive">
      <table class="table" *ngIf="spots && spots.length">
        <thead>
          <tr>
            <th>Nom</th>
            <th (click)="sort('category')" style="cursor: pointer;">Category</th>
            <th>Saison</th>
            <th>Lieu</th>
            <th>Visite</th>
            <th (click)="sort('rating')" style="cursor: pointer;">Score</th>
            <th>Commentaire</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let spot of filteredSpots" [style.background-color]="getCorrectBackgroundColor(spot)">
            <td [routerLink]="['/spot', spot.id]" style="cursor: pointer;">{{spot.name}}</td>
            <td [routerLink]="['/spot', spot.id]" style="cursor: pointer;">{{spot.category}}</td>
            <td [routerLink]="['/spot', spot.id]" style="cursor: pointer;">{{spot.season}}</td>
            <td [routerLink]="['/spot', spot.id]" style="cursor: pointer;">{{spot.location | location}}</td>
            <td [routerLink]="['/spot', spot.id]" style="cursor: pointer;">{{spot.visited ? 'Oui' : 'Non'}}</td>
            <td [routerLink]="['/spot', spot.id]" style="cursor: pointer;"><app-star [rating]="spot.rating"></app-star></td>
            <td><app-comment comment="{{spot.comment}}"></app-comment></td>
          </tr>
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
